{% extends 'base.html' %}
{%load static%}
{% block content %}
    <div id="sm_ten" >
        <div class="list_legend d-flex justify-content-between">
            <div>داشبورد:</div>
            <div ><img src="{% static 'dashboard.png'%}" width="40"></div>
        </div>
        <div class="p-5" style = 'border: 1px solid rgb(176, 176, 173);
        border-radius: 8px'>
            
                <a href = "customers/video" >اطلاعات مربوط به مشترک ویدئو کنفرانس ایران</a> 

            <h1 class = 'titr m-30' >داشبورد</h1>
                <ul>
                    <li>تعداد کل قراردادها: {{dashboard_context.num_contracts}}</li>
                    <li>تعداد کل مشترکین: {{dashboard_context.num_customers}}</li>
                    <li>تعداد کل نماینده ها: {{dashboard_context.num_agents}}</li>
                    <!-- <li>تعداد کل سرویسهای وایرلس: {{num_wireless}}</li> -->
                    <li>تعداد کل سرویسهای ابری: {{dashboard_context.num_clouds}}</li>
                </ul>
                </br>
                <p>Your IP is:</p>{{dashboard_context.user_ip}}
                </br>
                </br>
                <p>Numbers of visits:</p>{{dashboard_context.num_visits}}
                </br>
                <!-- <p>after deleting emergeny-fix</p> -->
                </br>
                نام مشترکین اخیر:
                </br>
                {% for c in dashboard_context.latest_customers %}
                    <ul>
                        <li>نام مشترک: {{c}}</li>
                    </ul>
                {% endfor %}
        </div>
    <!-- sm-10 -->
    </div>
{% endblock %}